{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="hero">
    <div class="text-effect">
        <h1 class="neon" data-text="Welcome">Welcome</h1>
        <h2 class="neon" data-text="Wild Gamer">Wild Gamer</h2>
        <div class="gradient"></div>
        <div class="spotlight"></div>
    </div>
</div>
    <p class="header">Wild Gaming,
        News, entertainment, a community
        and fun!</p>
    <div><img class="logomobile" src="/assets/images/logo.png"></div>

<div class="card-pages">
    <div class="card">
        <div class="card-home">
        <h2 class="card-home"><a href="/news">Latest news</a></h2>
            {% for item in news %}
            <div class="nav flex-column btngame">
                <a class="btnnews" href="/news/show?id={{ item.id }}">{{ item.title }}</a>
            </div>
            {% endfor %}
            <a href="news" class="gamebtn">More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-home">
        <h2 class="card-home"><a href="/wildGames">Wild Games</a></h2>
        <ul class="nav flex-column btngame">
            {% if(userName != null) %}
                <li><a href="wildMathGame" class="btngame">Wild Math</a></li>
                <li><a href="wildMemoryGame" class="btngame">Wild Memory Game</a></li>

            {% else %}
                <li><a href="/user/login" class="btngame">Wild Math</a></li>
                <li><a href="/user/login" class="btngame">Wild Memory Game</a></li>
            {% endif %}

        </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}<script src="/build/home.js"></script>{% endblock %}
