* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}
.contact{
    width: 80%;
    margin: auto;
}
h1.header {
    margin-top: 40px;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    color: #34b3c1;
    width: 100%;
}

h1 {
    font-family: 'Playfair Display',
    serif;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}
p {
    color: #d2d2d2;
}
label{
    padding-bottom: 10px;
    padding-top: 15px;
}

p,
input,
textarea,
label {
    font-family: 'Poppins',
    sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #34b3c1;
}

input,
textarea {
    background-color: white;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #34b3c1;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #FFF;
    color: #1b1c1e;
}

input,
textarea {
    color: black;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;
}

a {
    color: white;
}

a:hover {
    color: #fff;
}
