{% extends 'layout.html.twig' %}
{% block link %}
{% endblock %}
{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/wildgames.css">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
{% endblock %}

{% block title %} Wild Memory Game {% endblock %}
{% block content %}

    <header>
        <h1 class="header">Wild Memory Game</h1>
    </header>
    <div class="container">
    <section class="score-panel">
        <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>

        <span class="moves">0</span> Move(s)

        <div class="timer">
        </div>

        <div class="restart" onclick=startGame()>
            <i class="fa fa-repeat"></i>
        </div>
    </section>

    <ul class="deck" id="card-deck">
        <li class="cart" type="1">
            <img src="/assets/images/1.png">
        </li>
        <li class="cart" type="2">
            <img src="/assets/images/2.png">
        </li>
        <li class="cart match" type="3">
            <img src="/assets/images/3.png">
        </li>
        <li class="cart" type="4" >
            <img src="/assets/images/4.png">
        </li>
        <li class="cart" type="5">
            <img src="/assets/images/5.png">
        </li>
        <li class="cart match" type="6">
            <img src="/assets/images/6.png">
        </li>
        <li class="cart" type="7">
            <img src="/assets/images/7.png">
        </li>
        <li class="cart" type="8">
            <img src="/assets/images/8.png">
        </li>
        <li class="cart" type="1">
            <img src="/assets/images/1.png">
        </li>
        <li class="cart" type="2">
            <img src="/assets/images/2.png">
        </li>
        <li class="cart match" type="3">
            <img src="/assets/images/3.png">
        </li>
        <li class="cart" type="4" >
            <img src="/assets/images/4.png">
        </li>
        <li class="cart" type="5">
            <img src="/assets/images/5.png">
        </li>
        <li class="cart match" type="6">
            <img src="/assets/images/6.png">
        </li>
        <li class="cart" type="7">
            <img src="/assets/images/7.png">
        </li>
        <li class="cart" type="8">
            <img src="/assets/images/8.png">
        </li>
    </ul>

    <div id="popup1" class="overlay">
        <div class="popup">
            <a class="close" href=# >×</a>
            <div class="content-1">
                You're a winner 🎉🎉
            </div>
            <div class="content-2">
                <p>You made <span id=finalMove> </span> moves </p>
                <p>in <span id=totalTime> </span> </p>
                <p>Rating:  <span id=starRating></span></p>
            </div>
            <div id="play-again" class="gamebtn" onclick="playAgain()">
                Play again</a>
            </div>
        </div>
    </div>

    <a href="wildGames" class="btnQuit">QUIT</a>

</div>
{% endblock %}
{% block javascript %}<script src="/build/memorygame.js"></script>{% endblock %}
