{% extends 'layout.html.twig' %}
{% block link %}
{% endblock %}
{% block stylesheet %} <link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">{% endblock %}

{% block title %} Wild Games {% endblock %}

{% block content %}

<header>
    <h1 class="header">Wild Games</h1>
</header>
    <p class="header">Fun games offered by our wild developers!</p>


    <div class="card-pages">
    <div class="game card game">
        <div class="card-home">
        <img class="card-img-top" src="/assets/images/backCard.png" alt="Card image">
            <h4 class="card-title">Wild Math Game</h4>
            <p class="card-text">Some example text some example text. Description ....</p>
            <a href="#" class="gamebtn">Play</a>
        </div>
    </div>

    <div class="game card game">
        <div class="card-home">
        <img class="card-img-top" src="/assets/images/backCard.png" alt="Card image">
            <h4 class="card-title">Wild Memory Game</h4>
            <p class="card-text">Test your memory! <br>
                Match each pair of cards to win the game!</p>
            <a href="wildMemoryGame" class="gamebtn">Play</a>
        </div>
    </div>
    </div>


{% endblock %}

